body {
  margin:0;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}
    
.navbar {
  background-color: rgb(98, 207, 212);
  overflow: hidden;
  position: fixed;
  padding: 0 24px;
  top: 0;
  align-items: center;
  width: 100%;
  min-height: 100px;
  z-index:1;
}

.nav-link{
  transition: 0.7s ease;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  color: rgb(255, 255, 255);
}

.nav-link:hover {
  color: rgb(27, 31, 108);
} 

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.img {
  vertical-align: center;
  height: 90px;
  padding: 5px;
  padding-left: 10px;
} 

.img-box{
  height: 160px;
}

.right{
  float: right;
  float: bottom;
  vertical-align: center;
}

.container-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexbox {    
  width: 650px; 
  height: 500px;
}

.flexbox-1 {  
  background-image: url("..//Images/switzerland.jpg");
  background-size: cover;
}

.flexbox-2 {
  background-image: url("..//Images/desert.jpg");
  background-size: cover;
}

.flexbox-3 {
  background-image: url("..//Images/forest.jpg");
  background-size: cover;
}

.flexbox-4 {
  background-image: url("..//Images/switzerland.jpg");
  background-size: cover;
}

.title {
  text-align: center;
}

.footer {
  height: 300px;
  margin: 0px;
  background-color: rgb(33, 33, 43);
  color: white;
}

.myImage{
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 3000;
  width:200px;
  height:25px;
  background:#C96666;  
  display:inline-block;
  right:-1500px;
  transition: 1s;
} 

.hamburger {
  cursor: pointer;
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .nav-menu { display: block; }

}

@media screen and (min-width: 401px) and (max-width: 1024px) {
  .hamburger {display: block;}

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){ 
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: rgb(98, 207, 212);
    width: 100%;
    text-align: center;
    transition: 0.2s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }
}



